<div>
  <input type="text" [(ngModel)]="backedField"/>
  Value: {{backedField}}

  <hr>
  <input type="checkbox" [(ngModel)]="checked"/>
  checked: {{checked}}
  <hr>
  Is Gribouille here ? <input type="checkbox" [checked]="isGribouille()" readonly>
  <hr>
  Select :
  <select [(ngModel)]="selectedOptions">
    <option *ngFor="let o of options" [ngValue]="o">{{ o }}</option>
  </select>
  You selected : {{ selectedOptions }}>{{getTypeOf()}}

  <hr>

  Choose ingredient:
  <select [(ngModel)]="selectedIngredient" (change)="onChange()">
    <option *ngFor="let i of ingredients" [ngValue]="i">
      {{ i.name }}
    </option>
  </select>
  You selected : {{ selectedIngredient?.name}} ({{selectedIngredient?.good}})

  <h2>Validation</h2>
  <form #myForm="ngForm" (submit)="onSubmit()">
    <input type="number" min="0" max="15" required [(ngModel)]="formData.age" name="age">
    <input type="email" name="email" [(ngModel)]="formData.email">
    <br>
    {{myForm.form.invalid | json}}
    <br>
    <button [disabled]="!isValid()">OK</button>

  </form>
</div>
