div {
  /*padding: 20px;*/
  width: 100%;
  display: flex;
  /*justify-content: space-around;*/
}
span{
  text-align: center;
  border:1px solid #000;
  padding: 20px;
  width: 50%;
  /*margin: 30px;*/
}
